*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}   

body {
    background: #f5f5f5;
}

body, input, button {
    font-display: Arial, Helvetica, sans-serif;
}

.login-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container form {
    width: 100%;
    max-width: 300px; 
    display: flex;
    flex-direction: column;
}

.login-container form input {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 48px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
}

.login-container form input::placeholder{
    color: #999;
}

.login-container btn btn-flat btn-primary {
    margin-top: 10px;
    border: 0;
    border-radius: 4px;
    height: 48px;
    font-size: 16px;
    background: #DF4723;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.div1 {
    float:left;
    position: relative;
    margin-right: 35px;
    border-style: dotted;
    
}

.div1 button {
    margin: 2px;
    border: 0;
    border-radius: 4px;
    height: 30px;
    font-size: 16px;
    background: #DF4723;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.div1 input {
    margin: 2px;
    border-radius:2px;    
    background: #cccccc; 
    border:1px solid #000000;
    width:120px;
    height: 30px;
    position: static;
}

.div2 {
    float:right;
    background: rgb(221, 143, 125);
    border-radius: 10px;
    border-style: dotted;
    
}
.div2 ul li {
    list-style-type: none; 
}
